<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RoyaleAPI Blogs</title>
    <link rel="stylesheet" href="/static/css/navigation.css">
    <link rel="stylesheet" href="/static/css/blogs.css">
</head>
<body>
    {% include 'navigation/nav.html' %}

    <div class="container">
        {% if blogs %}
            {% for blog in blogs %}
            <div class="blog {% if blog.type == 'featured' %}featured{% endif %}">
                <a href="{{ blog.url }}" class="blog-link" target="_blank" rel="noopener noreferrer">
                    {% if blog.cover_image %}
                    <img src="{{ blog.cover_image }}" alt="{{ blog.title }}" onerror="this.style.display='none'">
                    {% endif %}
                    <div class="title">{{ blog.title }}</div>
                    <div class="date">{{ blog.date }}</div>
                    <div class="desc">Click to read more</div>
                </a>
            </div>
            {% endfor %}
        {% else %}
            <div class="blog visible">
                <div class="title">Unable to Load Blog Posts</div>
                <div class="desc">Please check your connection and try again later.</div>
            </div>
        {% endif %}
    </div>

    <script src="{{ url_for('static', filename='js/blogs.js') }}"></script>
</body>
</html>