p { 
    font-family: 'Beachday', sans-serif;
    font-size: 24px;
    -webkit-text-stroke: 1px black;
    color: rgb(0, 0, 0);
}

body {
    font-family: sans-serif;
    background-image: url('../images/background.jpg');

    letter-spacing: 2px;
    font-size: 18px;
}

h1{
    -webkit-text-stroke: 2px black;
    color: gold;
    text-align: center;
}

a {
    font-size: 20px;
    -webkit-text-stroke: 1px black;
    color: gold;
}