/* Font found on google. Ai used to incorperate*/
/* My standard style for all pages, like font, size, text colour, ect */

@font-face { 
    font-family: 'Beachday';
    src: url('../fonts/beachday.woff2') format('woff2'),
         url('../fonts/beachday.ttf') format('truetype'),
         url('../fonts/beachday.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
.page-content {
    max-width: 100px;
    margin: 24px auto 64px auto;
    padding: 0 16px;
    text-align: left;
    color: white;
}
body {
    font-family: sans-serif;
    background-image: url('../images/background.jpg');
    text-align: center;
    letter-spacing: 2px;
    text-align: center;
    font-size: 18px;
}
h1, h2, h3, p{
    -webkit-text-stroke: 2px black;
    color: gold;
}

a {
    font-size: 20px;
    -webkit-text-stroke: 1px black;
    color: gold;
}





